.footer {
  background-color: #000000;
  color: #ffffff;
}
.footer__logo--container {
  padding: 20px;
}
.footer__logo--container img {
  max-width: 120px;
}
.footer__logo--container p {
  margin-top: 5px;
  margin-left: 3px;
  font-size: 12px;
}
.footer__apps-logo--container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.footer__apps-logo--container img {
  max-width: 130px;
}
.footer__social--container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.footer__social--container h5 {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
.footer__social-logos--container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0;
}
.footer__social--container img {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1024px) and (min-height: 650px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
  }
  .footer__apps-logo--container {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .footer__logo--container {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .footer__apps-logo--container img {
    width: 50%;
    height: 50%;
  }
  .footer__social--container {
    width: 30%;
    padding: 0;
    gap: 40px;
  }
  .footer__social--container h5 {
    display: none;
  }
}
